<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
    </div>

    <div class="footer-col-3 column">
    <div class="site-nav-footer">
     <a class="page-link" href="/site-index">Site Index</a><br>
     <a class="page-link" href="https://sourceforge.net/projects/wordlist">SourceForge Project</a><br>
     <a class="page-link" href="https://github.com/en-wl/wordlist">GitHub Repo.</a>
    </div>
    </div>

  </div>

</footer>
